.container{
    text-align: center;
    color: #ffff;
    background-image: linear-gradient(#fbc2eb,#a6c1ee);
    font-family: 'Segoe UI';
    border-radius: 100px;
    width: 280px;
    height: 180px;
    margin: 200px auto;
  }